@model DelegationBook.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h2>Usuwanie</h2>

<h5>Czy na pewno chcesz usunąć pracownika <span class="font-weight-bold">@Model.FullName</span> z listy?</h5>
<p class="text-danger">Tego procesu nie można odwrócić!</p>
<div>
    <hr />
      
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.EmployeeId">Anuluj</a>
    </form>
</div>
