@model DelegationBook.Models.Trip

@{
    ViewData["Title"] = "Dodaj wyjazd";
}

<h2>Dodaj</h2>

<h4>Wyjazd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDate" class="control-label"></label>
                <input asp-for="ArrivalDate" class="form-control" />
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keeper" class="control-label"></label>
                <select asp-for="Keeper.EmployeeId" asp-items="ViewBag.Employees" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Keeper.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Driver" class="control-label"></label>
                <select asp-for="Driver.EmployeeId" asp-items="ViewBag.Drivers" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Driver.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialMeter" class="control-label"></label>
                <input asp-for="InitialMeter" class="form-control" />
                <span asp-validation-for="InitialMeter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalMeter" class="control-label"></label>
                <input asp-for="FinalMeter" class="form-control" />
                <span asp-validation-for="FinalMeter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Anuluj</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
