@model DelegationBook.Models.Trip

@{
    ViewData["Title"] = "Usuń";
}

<h2>Usuwanie</h2>

<h5>
    Czy na pewno chcesz usunąć z listy wyjazd do
    <span class="font-weight-bold">@Model.Destination</span>
    z dnia
    <span class="font-weight-bold">@Model.DepartureDate.Date</span>
    ?
</h5>
<p class="text-danger">Tego procesu nie można odwrócić!</p>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="TripId" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Details" asp-route-id="@Model.TripId" class="ml-3 btn btn-secondary">Anuluj</a>
    </form>
</div>