@model IEnumerable<DelegationBook.Models.Trip>

@{
    ViewData["Title"] = "Wyjazdy";
}

<h2>Wyjazdy</h2>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>

@await Html.PartialAsync("../Shared/_ListTripsPartial.cshtml", Model)
