@model DelegationBook.Models.KilometersCard

@{
    ViewData["Title"] = "Dodaj kartę kilometrów";
}

<h2>Dodaj</h2>

<h4>Karta kilometrowa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardSymbol" class="control-label"></label>
                <input asp-for="CardSymbol" class="form-control" />
                <span asp-validation-for="CardSymbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkCardNumber" class="control-label"></label>
                <input asp-for="WorkCardNumber" class="form-control" />
                <span asp-validation-for="WorkCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car" class="control-label"></label>
                <select asp-for="Car.CarId" asp-items="ViewBag.Cars" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Car.CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
