@model DelegationBook.Models.KilometersCard

@{
    ViewData["Title"] = "Usuwanie";
}

<h2>Usuń</h2>

<h5>
    Czy na pewno chcesz usunąć z listy kartę <span class="font-weight-bold">@Model.CardSymbol</span>?
</h5>
<p class="text-danger">Tego procesu nie można odwrócić!</p>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="CardId" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Details" asp-route-id="@Model.CardId" class="ml-3 btn btn-secondary">Anuluj</a>
    </form>
</div>
