@model DelegationBook.Models.KilometersCard

@{
    ViewData["Title"] = "Edycja";
}

<h2>Edytuj</h2>

<h4>Karta kilometrów</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CardId" />
            <div class="form-group">
                <label asp-for="CardSymbol" class="control-label"></label>
                <input asp-for="CardSymbol" class="form-control" />
                <span asp-validation-for="CardSymbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkCardNumber" class="control-label"></label>
                <input asp-for="WorkCardNumber" class="form-control" />
                <span asp-validation-for="WorkCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car" class="control-label"></label>
                @Html.DropDownListFor(m => m.Car.CarId, ViewBag.Cars as SelectList, new { @class = "form-control" })
                <span asp-validation-for="Car.CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.CardId">Anuluj</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
