@model DelegationBook.Models.Car

@{
    ViewData["Title"] = "Usuwanie";
}

<h1>Usuń</h1>

<h5>
    Czy na pewno chcesz usunąć z listy samochód <span class="font-weight-bold">@Model.Model</span>
    o numerze rejestracyjnym <span class="font-weight-bold">@Model.RegistrationNumber</span>?
</h5>
<p class="text-danger">Tego procesu nie można odwrócić!</p>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="CarId" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Details" asp-route-id="@Model.CarId" class="ml-3 btn btn-secondary">Anuluj</a>
    </form>
</div>