@model DelegationBook.Models.Project

@{
    ViewData["Title"] = "Delete";
}

<h2>Usuwanie</h2>

<h5>
    Czy na pewno chcesz usunąć z listy Temat o numerze <span class="font-weight-bold">@Model.Symbol</span>?
</h5>
<p class="text-danger">Tego procesu nie można odwrócić!</p>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjectId" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Details" asp-route-id="@Model.ProjectId" class="ml-3 btn btn-secondary">Anuluj</a>
    </form>
</div>
